@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Karla:wght@200;400;500&display=swap");

:root {
  --font: "Karla", sans-serif;
  --mono-font: "Fira Mono", monospace;
  --col-primary: hsl(177deg 39% 30%);
  --col-border: hsl(177deg 10% 60%);
  --col-background: hsl(300deg 11% 96%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
}

body {
  background: linear-gradient(150deg, hsl(152deg 22% 70%), hsl(197deg 20% 28%));
  background-attachment: fixed;
  font-family: var(--font);
  min-height: 100vh;
}

ul,
ol {
  margin: 0 0 0 1rem;
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  font-weight: 200;
  text-transform: uppercase;
}
h2 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h3 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

label {
  display: block;
  width: 100%;
}

input,
button,
select,
textarea {
  font-family: var(--mono-font);
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

textarea {
  resize: vertical;
}

button {
  color: white;
  background-color: var(--col-primary);
  padding: 0.33rem 0.67rem;
  font-size: 0.8rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

button:disabled {
  background: #999;
  cursor: auto;
}

.button--outlined {
  background: white;
  color: var(--col-primary);
  border-color: var(--col-primary);
}

.button--outlined:disabled {
  background: none;
  color: #999;
  border-color: #999;
}

.button--text {
  background: none;
  color: var(--col-primary);
  border: none;
}

/* Utility classes */
.mono-font {
  font-family: var(--mono-font);
}
.mb-1 {
  margin-bottom: 1em;
}
.w-420 {
  width: 420px;
  max-width: 100%;
}
.w-full {
  width: 100%;
}
.c-go {
  color: hsl(90, 100%, 30%);
}
.c-wait {
  color: hsl(44, 100%, 33%);
}
.c-stop {
  color: hsl(0, 100%, 38%);
}
.italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.lowercase {
  text-transform: lowercase;
}
.pre-wrap {
  white-space: pre-wrap;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-sm {
  gap: 1rem;
}
.gap-md {
  gap: 2rem;
}
